@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100italic.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100italic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300italic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-italic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500italic.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500italic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700italic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src:
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900italic.woff2") format("woff2"),
    url("https://dhqbrvplips7x.cloudfront.net/webfonts/34-34/fonts/roboto/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900italic.ttf") format("truetype");
}
